html {
	height: 100%;
	body {
		background-color: whitesmoke;

		header {
			background-color: #333;
			color: #fff;
			padding: 0 1rem;
		}

		#input-form {
			background-color: gainsboro;
			padding: .5rem 1rem;
			font-size: large;
			label {
				font-weight: 700;
				font-size: inherit;
				display: block;
				//margin: .5rem 0;
			}
		}

		#display-chart {
			margin: 1rem;
			box-shadow: 0 0 10px #ccc;
		}

		#display-table {
			margin: 1rem;
			box-shadow: 0 0 10px #ccc;
		}

	}
}

@media (min-width: 768px)
{
	html {
		body {
			#input-form {
				form {
					display: flex;
					justify-content: flex-end;

					align-items: center;
					.form-control {
						margin: 0 .5rem 0 0;
					}
				}
			}
		}
	}
}