table {
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	&.striped {
		tr:nth-child(odd) {
			background-color: #eee;
			background-color: oldlace;
			background-color: seashell;
		}
	}
	th {
		text-align: left;
		padding: 1rem;
		//background-color: #eee;
		//background-color: #fff;
		//color: #fff;
	}
	td {
		padding: 1rem;
	}

	// valores editables mostrados en la tabla de datos
	input {
		cursor: pointer;
		width: 100%;
		min-width: 50px;
		padding: 0;
		line-height: 2;
		border: 1px solid transparent;
		background-color: transparent;
		&:focus {
			border: 1px solid #4FB0F9;
			background-color: lightblue;
		}
		&:hover {
			border: 1px solid #4FB0F9;
		}
	}

	.wmin {
		width: 1%;
		white-space: nowrap;
	}
}